{
  "extends": "@pancakeswap/eslint-config-pancake",
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "no-continue": 0,
    "no-restricted-syntax": 0,
    "@typescript-eslint/no-non-null-assertion": 0,
    "@typescript-eslint/no-var-requires": 0
  }
}
