# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
dist

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# config
.env
**/config/**/*.ts
!**/config/**/*example.ts
!**/config/**/index.ts
!**/config/**/*.public.ts
!**/config/**/example.private.ts

# artifacts/cache/data
artifacts
cache

lottery/abis/*
!lottery/abis/index.ts

coverage.json

@openzeppelin
bsc-library

Flatten*

.idea